<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en" >
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Foundation 5</title>
    <link rel="stylesheet" href="foundation/css/normalize.css">
    <link rel="stylesheet" href="foundation/css/foundation.css">
    <link rel="stylesheet" href="css/app.css">
    <script src="foundation/js/vendor/custom.modernizr.js"></script>
  </head>
  <body>
    <section class="row">
      <header class="small-12 columns">
        <h1>Tuxknife</h1>
      </header>
    </section>

    <section class="row">
      <section class="small-12 columns">
      </section>
    </section>

    <script src="angular/angular.min.js"></script>
    <script src="foundation/js/vendor/jquery.js"></script>
    <script src="foundation/js/foundation.min.js"></script>
    <script>
      $(document).foundation();
    </script>
  </body>
</html>
